/*Cerberus Color Theme*/
:root {
    --crb-blue-color: rgb(44,123,229);
    --crb-blue-light-color: rgb(230,239,252);
    --crb-blue-dark-color: rgb(25, 72, 134);

    --crb-green-color: rgb(0,210,122);
    --crb-green-light-color: rgb(224,250,239);
    --crb-green-dark-color: rgb(1, 131, 76);

    --crb-orange-color: rgb(245,128,62);
    --crb-orange-light-color: rgb(254,240,232);
    --crb-orange-dark-color: rgb(171, 89, 43);

    --crb-red-color: rgb(230,55,87);
    --crb-red-light-color: rgb(252,231,235);
    --crb-red-dark-color: rgb(171, 42, 65);

    --crb-purple-color: #BF00BF;
    --crb-purple-light-color: rgb(221, 223, 247);
    --crb-purple-dark-color: #5C025C;

    --crb-turquoise-color: rgb(39,188,253);
    --crb-turquoise-light-color: rgb(229, 247, 255);
    --crb-turquoise-dark-color: rgb(29, 144, 195);

    --crb-yellow-color: #f1c40f;
    --crb-yellow-light-color: #fcf6e0;
    --crb-yellow-dark-color: #c6a20d;

    --crb-dark-color: #344050;
    --crb-light-color: #aaaaaa;
    --crb-white-color: #ffffff;
    --crb-bg-color: #f5f6fa;
}


.contentscript {
    all: unset !important;
    text-align: left !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    height: 225px !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    padding: 36px 12px 12px 12px !important;
    opacity: .95 !important;
    background-color: var(--crb-bg-color) !important;
    color: var(--crb-dark-color) !important;
    font-size: 16px !important;
    font-family: sans-serif !important;
    z-index: 2147483647 !important
}

.contentscript, .contentscript {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.contentscript .xpath-close-button-harness {
    position: fixed !important;
    right: 0 !important;
    top: 0 !important;
    padding: 2px !important;
    font-size: 18px !important;
    width: 18px !important;
    text-align: center !important;
    line-height: 18px !important;
    background-color: var(--crb-white-color) !important;
    outline: 2px solid var(--crb-dark-color) !important;
    border-radius: 0 0 0 4px !important;
    cursor: pointer !important
}

.contentscript .xpath-output-harness {
    background-color: var(--crb-white-color) !important;
    height: 270px !important;
    padding: 6px !important;
    font-family: monospace !important;
    font-size: 14px !important;
    overflow-y: auto !important;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

}

.contentscript .xpath-output-harness .xpath-element-header {
    font-size: 14px;
    font-family: "Poppins",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 700 !important
}

.contentscript .xpath-output-harness .xpath-element-content, .contentscript .xpath-output-harness .xpath-element-xpaths {
    padding-left: 20px !important;
    padding-bottom: 8px !important
}

.contentscript .xpath-output-harness .xpath-element-content span, .contentscript .xpath-output-harness .xpath-element-xpaths span {
    font-style: italic !important
}

.contentscript .xpath-button-harness {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    padding-top: 12px !important
}

.contentscript .xpath-button-harness .flex-spacer {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 !important;
    flex: 1 !important
}

.contentscript .xpath-button-harness .show-outlines {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important
}

.contentscript .xpath-button-harness .show-outlines input {
    margin-left: 4px !important
}

.contentscript .xpath-button-harness input {
    cursor: pointer !important;
    width: 16px !important;
    height: 16px !important
}

.contentscript .xpath-button-harness button {
    all: unset !important;
    text-rendering: auto !important;
    color: var(--crb-dark-color) !important;
    letter-spacing: normal !important;
    word-spacing: normal !important;
    text-transform: none !important;
    text-indent: 0 !important;
    text-shadow: none !important;
    display: inline-block !important;
    text-align: center !important;
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
    cursor: default !important;
    background-color: #fff !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 4px 8px 4px !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #d8d8d8 #d1d1d1 #bababa !important;
    -o-border-image: initial !important;
    border-image: initial !important;
    font-size: 16px !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    margin-left: 8px !important
}

.contentscript .xpath-button-harness button:active {
    background-color: var(--crb-orange-color) !important
}

.contentscript #xpath-copy-textarea-tiny-hidden {
    max-height: 1px !important;
    max-width: 1px !important;
    min-height: 1px !important;
    min-width: 1px !important;
    height: 1px !important;
    width: 1px !important;
    padding: 1px !important;
    border: none !important;
    resize: none !important;
    outline-color: transparent !important;
    outline-style: none !important;
    background-color: var(--crb-bg-color) !important;
    position: fixed !important;
    left: 1px !important;
    top: 1px !important
}