#notification-container {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 350px;
}

.notification {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-top: 1rem;
  background-color: #005a87;
  color: white;
  border-radius: 3px;
  opacity: 1;
  transition: all, 0.5;
}
