body {
  width: 200px;
  height: 75px;
  background-color: #333;
}

main {
  padding: 10px 20px 0 20px;
}

#erratum-btn {
  background-color: #005a87;
  border-radius: 3px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#erratum-btn:hover {
  background-color: #053e5a;
  cursor: pointer;
}

.erratum-btn-active {
  background-color: #d16b0c !important;
}
